.carousel-items:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(
    to right,
    rgb(30, 30, 30),
    rgba(27, 27, 27, 0.185)
  );
  border-radius: 0 0 4px 4px;
}
